
.operation {
  /* display: none; */
}

.operation > span {
  margin-left: 6px;
}

.tree-menu-title {
  display: flex;
  width: 300px;
}

.tree-menu-title:hover .operation {
  display: block
}

.title-text {
  flex: 1;
  display: inline-block;
  /* width: 150px;
  max-width: 150px; */
  text-align: left;
}
