.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.custom-progress {
  background: #fff;
  height: 20px;
  width: 100;
  padding: 2px;
  border: solid 2px #ccc;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.custom-all {
  height: 100%;
  width: 100%;
  background: green;

}

.custom-success {
  width: 25%;
  height: 100%;
  background: yellow;
  z-index: 3;
  margin-top: -12px;
}

.arrow {
  left: 25%;
  margin-top: -35px;
  position: absolute;
  margin-left: -56px;
}

.arrow > span:nth-child(2) {
  position: absolute;
  margin-top: 16px;
  width: 6px;
  background: #ccc;
  color: #ccc;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  background: yellow;
  margin: 10px;
  /* width: 200px !important;
  height: 200px !important; */
}

.layout {
  /* background: blue; */
  width: 100vw;
}


@import '~antd/dist/antd.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.remove{
  position: absolute;
  right: 7px;
  top: 1px;
  cursor: pointer;
  z-index: 999;
  /* display:none; */
}
.react-grid-item{
  border: 1px solid #ececec;
  padding: 10px;
}

.react-grid-item:hover .remove{
  display:inline-block;
}

.react-resizable-handle{
  visibility: hidden;
}

.react-grid-item:hover .react-resizable-handle{
  visibility: visible;
}